extends ./partials/layout 
block content
    #tnc
        .container
            #here
            
    #footer.content
            .angled-container-cover
                include ./partials/foot

    include ./partials/footer 
    script(type="text/javascript", src='/js/marked.js')
    script.
        var x = !{JSON.stringify(terms)};
        $('#here').html(marked(x));