
block timeline
    .test-container
        #timeline
            .timebar
                .progress
                ul 
                    li
                        .node  
                        .info
                            .title JANUARY 2017
                            .desc IMM project Conception
                    li
                        .node 
                        .info
                            .title MAY 2017
                            .desc Launch of IMM trading platform (www.immtradersclub.com)
                    li
                        .node 
                        .info
                            .title JULY 2017
                            .desc IMM Coin whitepaper
                    li
                        .node 
                        .info
                            .title SEPTEMBER 2017
                            .desc Launch of IMM Coin Website (www.immcoin.io)
                    li
                        .node 
                        .info
                            .title OCTOBER 21 2017
                            .desc Launch of IMM COIN & Pre-Selling
                    li
                        .node 
                        .info
                            .title DECEMBER 2017 - MARCH 2018
                            .desc ICO Period
                    li
                        .node 
                        .info
                            .title APRIL 07 2018
                            .desc Start of Live Exchange