
    
.foot
    #reachus.row.justify-content-center.align-items-center
        .col-lg-12.col-md-12
            | REACH US
            .row.justify-content-center.align-items-center(style='padding: 2% 0%')
                .col-lg-1.col-md-6.col-sm-6.col-xs-6
                    .social-img-container
                        a(href="https://www.facebook.com/iMMTraders.Official/", target="_blank")
                            img(src='/images/social/facebook.png')
                .col-lg-1.col-md-6.col-sm-6.col-xs-6
                    .social-img-container
                        a(href="https://twitter.com/immtradersclub", target="_blank")
                            img(src='/images/social/twitter.png')
                .col-lg-1.col-md-6.col-sm-6.col-xs-6
                    .social-img-container
                        a(href="https://www.reddit.com/user/immcoin", target="_blank")
                            img(src='/images/social/reddit.png')
                .col-lg-1.col-md-6.col-sm-6.col-xs-6
                    .social-img-container
                        a(href="#", target="_blank")
                            img(src='/images/social/telegram.png')
                .col-lg-1.col-md-6.col-sm-6.col-xs-6
                    .social-img-container
                        a(href="https://join.slack.com/t/immcoin/shared_invite/enQtMjcyNTExNzY1NzE0LTIwZDdhMzM5YTRiNGU0YjMzZTQzZjRhZWVmZGMxZWE1NGNkNzc3YWQ1ZmY4YmY0N2Y1OTMwM2YzZGFiZjIxYjk", target="_blank")
                            img(src='/images/social/slack.png')
                .col-lg-1.col-md-6.col-sm-6.col-xs-6
                    .social-img-container
                        img(src='/images/social/bitcointalk.png')
                .col-lg-1.col-md-6.col-sm-6.col-xs-6
                    .social-img-container
                        a(href="https://immcoin.wordpress.com/", target="_blank")
                            img(src='/images/social/wordpress.png')
                .col-lg-1.col-md-6.col-sm-6.col-xs-6
                    .social-img-container
                        img(src='/images/social/github.png')
                
        
    #signForUpdates.row.justify-content-center
        .col-xs-12.col-lg-12 SIGN UP FOR UPDATES
        .col-xs-12.col-lg-12
            form(action="/newsletter")
                .row.justify-content-center(style='background: #232323')
                    .col-lg-2.col-md-3
                        input.arc-textbox(type='email', placeholder='EMAIL ADDRESS', required) 
                    .col-lg-2.col-md-3
                        input.arc-textbox(type='text', placeholder='FULL NAME', required)
                    .col-lg-2.col-md-3
                        input.arc-button(type='submit', value='SUBMIT')
    
    #partners.row.justify-content-center
        .col.col-lg-12
            .row.justify-content-center
                .col.col-lg-3 PARTNERS
            .row.justify-content-center
                .col.col-lg-3
                    a(href='http://viewtripholiday.com/', target='_blank'): img(src='/images/partners/viewtrip.png' width='120px')
            
    .row.justify-content-center
        .col.col-lg-6 
            //- a(href="#") TERMS AND CONDITIONS
            button.btn.btn-primary(type='button', data-toggle='modal', data-target='#termsCondition')
                | TERMS AND CONDITIONS

    .row
        .col-lg-12.copyright
            | COPYRIGHT 2017 IMM COIN. ALL RIGHTS RESERVED.
    .row
        .col-lg-12.signed
            | DEVELOPED BY _4r1570cr47