script(src='/jquery/dist/jquery.min.js')
script(src='/js/jquery-ui.min.js')
script(src='/tether/dist/js/tether.js')
script(src='/bootstrap/dist/js/bootstrap.min.js')
script(src='/js/jquery.easing.js')
block scripts