script(type="text/javascript", src='/jquery/dist/jquery.min.js')
script(type="text/javascript", src='/js/jquery-ui.min.js')
script(type="text/javascript", src='/tether/dist/js/tether.js')
script(type="text/javascript", src='/bootstrap/dist/js/bootstrap.min.js')
script(type="text/javascript", src='/chart.js/dist/Chart.min.js')
script(type="text/javascript", src='/js/jquery.easing.js')
block scripts