#navigator
    #logo
        a(href="/"): img(src='/images/immcoin.png')
    ul
        a(href="#"): li TOKEN SALE
        a(href="#"): li WHY IMM COIN?
        a(href="#"): li TIMELINE
        a(href="#"): li TEAM
        a(href="#"): li ABOUT IMM COIN
        a(href="#"): li FAQ
        a(href="#"): li CONTACT