#navigator.navigator
    #logo
        a(href="/"): img#logo-src(src='/images/immcoinlogo-white.png')
    ul
        a(href="#", data-id='#landing'): li TOKEN SALE
        a(href="#", data-id='#profit'): li WHY IMM COIN?
        a(href="#", data-id='#timeline'): li TIMELINE
        a(href="#"): li TEAM
        a(href="#"): li ABOUT IMM COIN
        a(href="#"): li FAQ
        a(href="#"): li CONTACT
        a(href='#'): li.whitepaper WHITEPAPER