#navigator.navigator
    #logo
        a(href="/"): img#logo-src(src='/images/immcoinlogo-white.png')
        .burger-container
            #burger.burger
    ul
        a.active(href="#", data-id='#landing'): li TOKEN SALE
        a(href="#", data-id='#ico'): li ICO
        a(href="#", data-id='#whyIMM'): li WHAT IS IMC?
        a(href="#", data-id='#timeline'): li TIMELINE
        a(href="#", data-id='#team'): li TEAM
        a(href="#", data-id='#faq'): li FAQ
        a(href="#", data-id='#footer'): li REACH US
        a(href='#'): li.whitepaper WHITEPAPER