section#timeline
    p.leader
    .demo-card-wrapper
        .demo-card.demo-card--step1
            .head
                .number-box
                    span 01
                h2
                    span.small January 2017
                    |  CONCEPTION OF IMC
            .body
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.
        .demo-card.demo-card--step2
            .head
                .number-box
                    span 02
                h2
                    span.small May 2017
                    |  Launch of IMM's trading platform
            .body
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.
        .demo-card.demo-card--step3
            .head
                .number-box
                    span 03
                h2
                    span.small September 2017
                    |  Launch of IMM's website
            .body
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.
        .demo-card.demo-card--step4
            .head
                .number-box
                    span 04
                h2
                    span.small Ocober 21 2017
                    |  Launch and Pre Selling of IMM Coin
            .body
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.
        .demo-card.demo-card--step5
            .head
                .number-box
                    span 05
                h2
                    span.small December 2017-March 2018
                    |  Initial Coin Offering Period
            .body
                p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta reiciendis deserunt doloribus consequatur, laudantium odio dolorum laboriosam.
