
ul.timeline.timeline-centered
    
    li.timeline-item.period
        .timeline-info
        .timeline-marker
        .timeline-content
            h2.timeline-title PHASE 1
    li.timeline-item
        .timeline-info
            span January 2017
        .timeline-marker
        .timeline-content
            h3.timeline-title Conception of the IMM Coin
            p
                | Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                | Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                | venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.
    li.timeline-item
        .timeline-info
            span May 2017
        .timeline-marker
        .timeline-content
            h3.timeline-title Launch of IMM's trading Platform
            p
                | Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                | Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                | venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.
    li.timeline-item
        .timeline-info
            span September 2017
        .timeline-marker
        .timeline-content
            h3.timeline-title Launch of IMM Coin's Website
            p
                | Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                | Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                | venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.
    li.timeline-item
        .timeline-info
            span Ocober 21 2017
        .timeline-marker
        .timeline-content
            h3.timeline-title Launch and PreSelling of IMM Coin
            p
                | Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                | Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                | venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.
    li.timeline-item
        .timeline-info
            span December 2017-March 2018
        .timeline-marker
        .timeline-content
            h3.timeline-title Inital Coin Offering Period
            p
                | Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                | Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                | venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.
    li.timeline-item
        .timeline-info
            span January 12, 2018
        .timeline-marker
        .timeline-content
            h3.timeline-title Mega Launching of IMM Coin
            p
                | Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                | Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                | venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.
    li.timeline-item
        .timeline-info
            span April 07, 2018
        .timeline-marker
        .timeline-content
            h3.timeline-title Start Of IMM Coin Live Exchange
            p
                | Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                | Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                | venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.