
ul.timeline.timeline-centered
    
    li.timeline-item.period
        .timeline-info
        .timeline-marker
        .timeline-content
            h2.timeline-title PHASE 1
    li.timeline-item
        .timeline-info
            span January 2017
        .timeline-marker
        .timeline-content
            h3.timeline-title CONCEPTION OF THE IMM COIN
            p
                //- | Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                //- | Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                //- | venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.
    li.timeline-item
        .timeline-info
            span May 2017
        .timeline-marker
        .timeline-content
            h3.timeline-title LAUNCH OF IMM'S TRADING PLATFORM
            p
    li.timeline-item
        .timeline-info
            span September 2017
        .timeline-marker
        .timeline-content
            h3.timeline-title LAUNCH OF IMM COIN'S WEBSITE
            p
    li.timeline-item
        .timeline-info
            span October 21 2017
        .timeline-marker
        .timeline-content
            h3.timeline-title LAUNCH AND PRESELLING OF IMM COIN
            p
    li.timeline-item
        .timeline-info
            span December 2017-March 2018
        .timeline-marker
        .timeline-content
            h3.timeline-title INITIAL COIN OFFERING PERIOD
            p
    li.timeline-item
        .timeline-info
            span January 12, 2018
        .timeline-marker
        .timeline-content
            h3.timeline-title MEGA LAUNCHING OF IMM GROUP
            p
    li.timeline-item
        .timeline-info
            span April 07, 2018
        .timeline-marker
        .timeline-content
            h3.timeline-title START OF IMM COIN LIVE EXCHANGE
            p