.angled-container
    h1.title-inverted WHAT IS IMC?
    .separator-inverted
    .container
        .row
            .col-lg-6
                #coin-container
                    .immcoin
                        .front
                            include ../../../assets/images/whyIMM/immSymbol.svg
                        .back
            .col-lg-6#imm-info
                    .immcard
                        .row
                            .col-md-6
                                .imm-title TOKEN NAME
                                .imm-info IMM COIN
                            .col-md-6  
                                .imm-title TOKEN SYMBOL
                                .imm-info IMC
                    .immcard
                        .row
                            .col-md-12
                                .imm-title TOKEN ADDRESS
                                .imm-info 0xe42ba5558b00d2e6109cc60412d5d4c9473fe998
                    
                    .immcard
                        .imm-title WHAT DOES THIS TOKEN REPRESENT?
                        .imm-info The Tokens represent a form of ownership of the IMM Coin. One Token will be equivalent of $1
                    .immcard
                        .imm-title PAYOUT STRUCTURE
                        .imm-info Investors with IMC holders will receive minimum 8% of the net profit earned on the IMM cryptocurrency transfers within the IMM Platform and exchange.
                    .immcard
                        .imm-title TOTAL SUPPLY
                        .imm-info 300,000,000 IMC
                    .immcard
                        .imm-title INITIAL COIN STRUCTURE VALUE
                        #ethVal.imm-info $1 per coin
    h1.title-inverted WHY IMC ?
    .separator-inverted
    .container
        .fl#wic
            .fl-item
                .svg-container
                    include ../../../assets/images/whyIMM/trade.svg
                .title BUY & SELL STOCKS WITHOUT A BROKER
                .desc Save on commissions and bank fees when buying and selling digital assets.
            .fl-item
                .svg-container
                    include ../../../assets/images/whyIMM/fullControl2.svg
                .title FULL CONTROL OF YOUR ASSETS
                .desc You can manage your assets on your own.
            .fl-item
                .svg-container
                    include ../../../assets/images/whyIMM/security.svg
                .title SEIZURE RESISTANCE
                .desc Only you can access your assets and therefore no third party is involved.
            .fl-item
                .svg-container
                    include ../../../assets/images/whyIMM/clock.svg
                .title REALTIME TRANSACTIONS
                .desc Your "buy" and "sell" orders get executed in realtime on the blockchain. Its a decentralised network that is always 24/7 accessible.
    