.angled-container-padded
    h1.title-inverted WHAT IS IMC?
    .separator-inverted
    .container-cover
        .row
            .col-lg-6
                #coin-container
                    .immcoin
                        .front
                            include ../../../assets/images/whyIMM/immSymbol.svg
                        .back
            .col-lg-6#imm-info
                    .immcard
                        .row
                            .col-md-6
                                .imm-title TOKEN NAME
                                .imm-info IMM COIN
                            .col-md-6  
                                .imm-title TOKEN SYMBOL
                                .imm-info IMC
                    .immcard
                        .row
                            .col-md-12
                                .imm-title TOKEN ADDRESS
                                .imm-info 0xe42ba5558b00d2e6109cc60412d5d4c9473fe998
                    
                    .immcard
                        .imm-title WHAT DOES THIS TOKEN REPRESENT?
                        .imm-info The Tokens represent a form of ownership of the IMM Coin. One Token will be equivalent of $1
                    .immcard
                        .imm-title PAYOUT STRUCTURE
                        .imm-info Investors with IMC holders will receive minimum 8% of the net profit earned on the IMM cryptocurrency transfers within the IMM Platform and exchange.
                    .immcard
                        .imm-title TOTAL SUPPLY
                        .imm-info 300,000,000 IMC
                    .immcard
                        .imm-title INITIAL COIN STRUCTURE VALUE
                        #ethVal.imm-info $1 per coin
    h1.title-inverted WHY IMC ?
    .separator-inverted
    .container-cover
        .fl#wic
            .fl-item
                .svg-container
                    include ../../../assets/images/whyIMM/trade.svg
                .title BUY & SELL STOCKS WITHOUT A BROKER
                .desc Save on commissions and bank fees when buying and selling digital assets.
            .fl-item
                .svg-container
                    include ../../../assets/images/whyIMM/fullControl2.svg
                .title FULL CONTROL OF YOUR ASSETS
                .desc You can manage your assets on your own.
            .fl-item
                .svg-container
                    include ../../../assets/images/whyIMM/security.svg
                .title SEIZURE RESISTANCE
                .desc Only you can access your assets and therefore no third party is involved.
            .fl-item
                .svg-container
                    include ../../../assets/images/whyIMM/clock.svg
                .title REALTIME TRANSACTIONS
                .desc Your "buy" and "sell" orders get executed in realtime on the blockchain. Its a decentralised network that is always 24/7 accessible.
    
    h1.title-inverted HOW WILL IMM COIN WORK?
    .separator-inverted
    #howImmWorks.container-cover
        .row
            #immFlowStep1.col-lg-12
                .row
                    .col-lg-4
                        .svg-container
                            include ../../../assets/images/whyIMM/invest.svg
                    .col-lg-8
                        .row
                            .col-lg-2
                                .title
                                   | 25%
                                .body  Interested investors investing with us before 30-11-17, will be entitled to a share in profit up to 25% (i.e.  before ICO).
                            .col-lg-2
                                .title
                                   | 20%
                                .body  All investment made during the period 1-12-17 to 31-12-17 will be entitled 20% (1st month of ICO)
                            
                            .col-lg-2
                                .title
                                   | 15%
                                .body  During the period of 1-01-18 to 31-01-18 ( 2nd month of ICO), a share in profits of 15% will be given to the investors.
                            
                            .col-lg-2
                                .title
                                   | 10%
                                .body  For the 3rd month of ICO i.e.  1-02-18 to 28-02-18, a share of 10% from the profits will be given to the investors.
                            
                            .col-lg-2
                                .title
                                   | 5%
                                .body  During the last month of ICO, 1-03-18 to 31-03-18,a total 5% of profits will be distributed to investors 
                            .col-lg-2
                                .title
                                   | 0%
                                .body  While ICO ends March 31 st 2018, no further profits will be distributed.            
        .row
            #immFlowStep2.col-lg-12
                .row
                    .col-lg-6   
                        .title
                            | WHAT HAPPENS TO THE HEDGEFUND
                        .body
                            | We aim to transcend a 30% of total investment  towards blockchain in education system and 70% of total investment into trading. The share of trading will be invested in Forex, cryptocurrency, stock, indices and likes by our expert traders to take advantage of the market.

                    .col-lg-3
                        .svg-container
                            include ../../../assets/images/whyIMM/blockchainsvg.svg
                    .col-lg-3
                        .svg-container
                            include ../../../assets/images/whyIMM/trading.svg
        .row
            #immFlowStep3.col-lg-12
                .row
                    .col-lg-6
                        .svg-container
                            include ../../../assets/images/whyIMM/profit.svg
                    .col-lg-6
                        .title
                            | REALIZATION OF PROFITS
                        .body
                            | To all our investors we plan to share our daily  profits from trading on an average of  7%- 8% monthly. 
                            br
                            | 50% of the net profits earned by the Interday Markets Management Limited from investing of the ICO funds will be used to buy back i-MM Coin directly from the market. Whilst there is no obligation on any Participant to sell their i-MM Coin, the purpose of the buy back is that upon Interday Markets Management Limited completing the buyback, all i-MM Coin subject to being bought back will be immediately Burned. This will result in a continuous reduction of the remaining supply of i-MM Coin and should result in a natural increase in the value.