html, body
    margin : 0
    padding : 0

body
    background-image: url('/images/content-bg.jpg')
    background-attachment: fixed
    background-size: cover

.container-cover
    margin: 0
    padding: 0


#navigator 
    position: fixed
    width: 100%
    height: 80px
    z-index: 1
    +smooth-transitions(.5s)

.navigator-invert
    background: white

.navigator-invert ul li
    color: #202020

#navigator ul 
    margin: 0
    list-style: none
    float: right

#navigator ul li
    +smooth-transitions(.5s)
    display: flex
    transition: .5s
    align-items: center
    justify-content: center
    text-align: center
    float: left
    padding: 0px 20px
    height: 80px
    color: white
    font-size: 14px
    font-family: quicksand
    font-weight: bold
    letter-spacing: 2px
    &:hover
        color: #42d1f4

#navigator #logo
    position: relative
    float: left
    width: 300px
    left: 100px
    height: 80px
    padding: 2%
    +flex-center-content

#logo img
    width: 100%

.angled-container
    margin: 11% auto
// b o d y

.content
    +relative
    width: 100%
    min-height: 100vh
    &-angled
        @extend .content
        clip-path: polygon(0 23%, 100% 0, 100% 77%, 0 100%)
        -webkit-clip-path: polygon(0 23%, 100% 0, 100% 77%, 0 100%)

    &-text-container
        +flex-center-content
        position: absolute !important
        flex-direction: column
        margin-top: 0px
        width: 100%
        height: 100%

.content-text-container .desc
    width: 70%

.col-container
    +flex-center-content

#landing
    margin-top: 0
    position: relative
    background: $background
    clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%)
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 77%, 0 100%)

#profit
    +flex-center-content
    flex-direction: column
    position: relative
    // background: #ffffff
    clip-path: polygon(0 23%, 100% 0, 100% 77%, 0 100%)
    -webkit-clip-path: polygon(0 23%, 100% 0, 100% 77%, 0 100%)
    
#timeline
    background: #2d8ac4
    clip-path: polygon(0 23%, 100% 0, 100% 77%, 0 100%)
    -webkit-clip-path: polygon(0 23%, 100% 0, 100% 77%, 0 100%)
    
#footer
    position: relative
    background: #202020
    clip-path: polygon(0 23%, 100% 0, 100% 77%, 0 100%)
    -webkit-clip-path: polygon(0 23%, 100% 0, 100% 100%, 0 100%)

#countdown 
    +flex-center-content

.content-container
    position: relative
    background: red
    width: 100%
    

// B U T T O N   D E S I G N

.button
    padding: 8px 35px
    cursor: pointer
    &-opac
        color: white 
        background: rgba(0,0,0,0)
        border: 1px solid white
        +smooth-transitions(.2s)
        &:hover
            background: white 
            color: black

.svg.radial-progress 
    position: relative
    display: inline-block 

svg 
    // transform: rotate(270deg)   

circle 
    stroke-width: 2em
    fill: transparent
    transform: rotate(0.1deg)
    

.radial-progress-background 
    stroke: #DEDEDE
    
.radial-progress-cover 
    // stroke: #DEDEDE
    stroke: $secondary
    stroke-width: 2.01em

svg text
    font-size: 2em
    font-family: quicksand
    font-color: #4f4f4f

.radial-progress-center 
    fill: #CCC

.radial-fill 
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)


// util

.separator
    display: block
    position: relative
    margin: 2% auto
    width: 120px
    height: 2px
    background: #202020

