html, body
    margin : 0
    padding : 0
body
    background-image: url('/images/content-bg.jpg')
    background-attachment: fixed
    background-size: cover

#home 
    overflow-x: hidden

#navigator 
    position: fixed
    width: 100%
    height: 50px
    // background: red
    z-index: 99
    +smooth-transitions(.5s)

.navigator ul li 
    color: white 

.navigator-invert
    background: rgba(255, 255, 255, 1)

.navigator-invert ul li
    color: #202020

#navigator ul 
    margin: 0
    height: 100%
    list-style: none
    float: right
    
#navigator ul li
    +smooth-transitions(.5s)
    display: flex
    transition: .5s
    align-items: center
    justify-content: center
    text-align: center
    float: left
    padding: 0px 20px
    height: 100%
    font-size: 14px
    font-family: quicksand
    font-weight: bold
    letter-spacing: 2px
    &:hover
        color: #42d1f4

#navigator ul a.active li
    color: #42d1f4 !important

#navigator ul li.whitepaper
    background: rgba(200,200,200,1)

#navigator #logo
    position: relative
    float: left
    left: 100px
    width: auto
    height: 100%
    display: flex
    +flex-center-content

#logo img
    width: 150px    

.angled-container
    display: block
    &-cover
        @extend .angled-container
        width: 100% 

// b o d y

.content
    +flex-center-content
    width: 100% 
    min-height: 100vh
    padding: 10%
    height: auto
    &-angled
        @extend .content
        clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%)
        -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%)
    &-text-container
        +flex-center-content
        position: relative
        z-index:  1
        flex-direction: column
        margin-top: 0px
        width: 100%
        height: 100%

#landing canvas
    position: absolute
    z-index: 0
    float: left

.btn 
    padding: 1% 2.5%
    margin: 3% auto
    color: white
    border-radius: 10px
    font-family: quicksand
    letter-spacing: 2px
    cursor: pointer
    border: 1px solid white
    background: transparent
    &:hover 
        background: white
        color: black

.content-text-container .desc
    position: relative
    width: 70%

.col-container
    +flex-center-content

.top-clip
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%)
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%)

.mid-clip
    clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%)
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%)

.bottom-clip
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%)
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%)

#landing
    margin-top: 0
    position: relative
    background: $background

#profit
    flex-direction: column
    position: relative

#whyIMM 
    background: $primary
    
#timeline

#team
    background: $primary
    
#faq 
    background: $primary

#footer
    position: relative
    background: #202020

#countdown 
    +flex-center-content
    
.row .col-md-3
    text-align: center

.content-container
    position: relative
    width: 100%
    

// // B U T T O N   D E S I G N

.button
    padding: 8px 35px
    cursor: pointer
    &-opac
        color: white 
        background: rgba(0,0,0,0)
        border: 1px solid white
        +smooth-transitions(.2s)
        &:hover
            background: white 
            color: black

// util

.separator
    display: block
    position: relative
    margin: 2% auto
    width: 120px
    height: 2px
    background: #202020
    &-inverted
        @extend .separator
        background: rgb(255,255,255)

// team

#team .fl
    justify-content: center
    align-items: flex-start
    
.team-card-container
    width: 24%
    text-align: center
    margin: 1%

.team-img-container
    width: 100%
    padding: 5%
    
.team-name
    color: white
    font-size: 15px
    font-family: quicksand
    padding: 2%
    
.team-position
    color: rgba(200, 200, 200, 1)
    font-family: quicksand
    font-size: 10px

.team-description
    color: rgba(220, 220, 220, 1)
    font-family: "quicksand"
    font-size: 12px
    padding: 5% 2%
    text-align: center

.img-container
    display: block
    position: relative  
    border-radius: 50%
    margin: auto
    width: 200px
    height: 200px
    overflow: hidden
    border: 2px solid white


.team-img-container img
    position: relative
    width: 100%
    +smooth-transitions(.5s)

.team-links a 
    margin: 2% 2% 

.red
    background: red


// new clock

svg
    display: block
    margin: auto
    height: 170px
    width: 170px
    
#countdown svg circle
    fill: transparent 
    stroke-linecap: round
    transform: rotate(-90deg)
    transform-origin: 50% 50%

#countdown svg .cover
    stroke: $secondary
    stroke-width: 5px

#countdown svg .outline 
    stroke: #DEDEDE
    stroke-width: 1px

#countdown svg text 
    fill: white
    font-weight: bold
    text-anchor: middle
    font-family: "quicksand"
    font-size: 12px

text tspan.time
    font-size: 20px


text tspan.unit
    display: block
    font-size: 15px

.fl
    display: flex
    flex-wrap: wrap
    width: 100%

.fl .fl-itm
    width: 23%

#trade path
    stroke: white
    fill: transparent


#wic .fl-item
    width: 22%
    margin: 1%
    text-align: center

#wic .fl-item .svg-container
    width: 70%
    margin: auto

#wic .fl-item .title
    color: white 
    font-family: quicksand
    font-size: 20px
    padding: 5%

#wic .fl-item .desc
    color: white 
    font-family: quicksand
    font-size: 15px

#wic svg
    stroke: white
    fill: white
    overflow: visible

#fullControl path
    stroke: white

#arc 
    stroke: white

#fullControl .svcirc
    stroke: white

#accordion 
    width: 70%
    margin: auto

#accordion .card 
    background: transparent 
    border: none

#accordion .card .card-header
    background: transparent

#accordion a
    color: white 
    font-family: quicksand

#security path
    stroke: white

#clock path
    stroke: white

#circle,#minute,#hour
    stroke: white 
    path: white 

#clock line,circle
    stroke: white
    fill: white



// TEST

.test-container
    position: relative
    background: #202020
    width: 100%
    min-height: 100vh
    color: white 
    text-align: center
    display: flex
    justify-items: center
    align-items: center

#timeline
    position: relative
    margin: auto
    width: 100%

.timebar
    position: relative
    margin: auto
    width: 80%
    height: 5px
    background: #2f2f2f
    border-radius: 5px


.timebar .progress
    position: absolute
    height: 100%
    background: #05e9ff

.timebar ul 
    display: flex
    justify-content: space-around
    list-style: none

.timebar ul li 
    display: block
    transform: translateY(-40%)

.timebar ul li .node
    background: #2d8ac4
    width: 30px
    height: 30px
    border-radius: 50%
    border: 5px solid #202020
    transition: .2s

.timebar .info
    padding: 20px
    position: absolute
    border-radius: 20px
    transition: .5s   
    // border: 1px solid white
    font-family: quicksand
    width: 200px

    
.timebar .info .title
    padding: 1% 3%
    font-size: 12px

.timebar .info .desc
    font-size: 10px
    color: rgb(220,220,220)

.timebar ul li:nth-child(odd) .info
    top: -15px
    transform: translateY(-100%)
    left: -30%

.timebar ul li:nth-child(even) .info
    top: 40px
    left: 0%


.timebar ul li:nth-child(odd) .node:hover ~ .info
    transform: translateY(-110%)

.timebar ul li:nth-child(even) .node:hover  ~ .info
    transform: translateY(10%)

.timebar ul li .node:hover
    background: white
    
    


@media only screen and (max-device-width : 1000px), screen and (max-width : 1000px)

    .timebar ul li:nth-child(odd) .info
        top: -110px
        left: 0%

    .timebar ul li:nth-child(even) .info
        top: 50px
        left: 50%

@media only screen and (max-device-width : 800px), screen and (max-width : 800px)
    .timebar
        width: 5px
        height: 800px

    .test-container #timeline

        padding: 10% 0

    .timebar ul 
        flex-direction: column
        padding: 0
        margin: 0
        height: 100%
    
    .timebar ul li
        position: relative
        right: 0%
        width: 30px
        transform: translateX(-50%)

    .timebar ul li:nth-child(odd) .info
        left: -110px
        top: -90px

    .timebar ul li:nth-child(even) .info
        left: 45px 
        top: -90px

    .timebar ul li:nth-child(odd):hover .info
        transform: translateY(-20px)

    .timebar ul li:nth-child(even):hover .info
        transform: translateY(-20px)
