@media only screen and (max-device-width : 1500px), screen and (max-width : 1500px)
    #navigator #logo 
        width: 100%
        left: 0
    #logo img
        width: 150px
    #navigator ul 
        display: none

    .content
        clip-path: none
        -webkit-clip-path: none

@media only screen and (max-device-width : 800px), screen and (max-width : 800px)
    #landing h1
        font-size: 25px
    .top-clip
        clip: none
        -webkit-clip: none
    .bottom-clip
        clip: none
        -webkit-clip: none
    .mid-clip   
        clip: none
        -webkit-clip: none  

@media only screen and (max-width: 300px)
    #landing h1 
        font-size: 12pxz