@media only screen and (max-device-width : 1500px), screen and (max-width : 1500px)

    #navigator #logo 
        left: 20px
        

    #navigator ul li 
        font-size: 10px
        padding: 0px 10px

    .content-text-container .desc
        width: 100%
        
        
@media only screen and (max-device-width : 1000px), screen and (max-width : 1000px)

    .content
        clip-path: none
        -webkit-clip-path: none

    .fl .fl-itm 
        width: 48%

    #wic .fl-item
        width: 48%


    #contact .angled-container-cover > .fl-container > .fl-col-6
        width: 100%
    
    #footer .social-img-container img
        width: 50%
        padding: 5% 0%

@media only screen and (max-device-width : 900px), screen and (max-width : 900px)
    
 

    #accordion 
        width: 100%

    #accordion .card .card-header
        font-weight: bolder
        
    #navigator ul
        position: relative
        display: none
        background: #202020
        height: auto
        padding: 0
        width: 100% !important

    #navigator ul li 
        position: relative
        display: block
        width: 100%
        padding: 2%
        font-size: 12px

    .navigator-invert ul li
        color: white

    #navigator #logo 
        width: 100%
        left: 0

    #navigator
        background: #202020

    #navigator .burger-container
        position: absolute
        display: flex
        width: 50px
        height: 100%
        top: 0
        right: 5%
        justify-items: center
        align-items: center
        justify-content: center
    
    #navigator .burger-container .burger
        border: 1px solid white 
        width: 35px
        height: 35px
        border-radius: 5px

    

@media only screen and (max-device-width : 800px), screen and (max-width : 800px)

    #landing h1
        font-size: 25px
    
    .top-clip
        clip: none
        -webkit-clip: none

    .bottom-clip
        clip: none
        -webkit-clip: none

    .mid-clip   
        clip: none
        -webkit-clip: none  

    .content-text-container
        margin-top: 30%
        margin-bottom: 20%
    
    .fl-container .fl-col-6
        width: 100%

    .arc .arc-col-6
        width: 100%

    #ico .row
        padding: 8% 0%

    #ico .row .colm
        padding: 5% 3% !important
        flex-basis: auto


@media only screen and (max-device-width : 600px), screen and (max-width : 600px)

    .fl .fl-itm 
        width: 100%

    #landing h1
        font-size: 25px
    
    #wic .fl-item
        width: 100%
    
    #investment .graph-stats-container
        flex-direction: column
        
    #investment .graph-stats-container .stats
        width: 100%
    
    #imm-info .immcard .imm-title
        color: white
        letter-spacing: 1px
        font-size: .9em

    #imm-info .immcard .imm-info
        color: rgb(130,130,130)
        text-align: justify
        font-size: .6em

    
@media only screen and (max-width: 400px)
    .angled-container-cover > .fl-container > .fl-col-6
        width: 100%

    .social-img-container img
        width: 80%

    #landing h1 
        font-size: 12px
