
#landing h1 
    font-size: 35px
    color: white
    text-align: center
    font-family: quicksand
    
#landing h3
    font-size: 25px
    font-family: quicksand
    text-align: center

tspan.unit 
    font-size: .5em

.angled-container h1.title 
    text-align: center
    font-family: quicksand
    font-weight: bold

.angled-container h1.title-inverted 
    text-align: center 
    font-family: quicksand
    font-weight: bold 
    color: white
