
#landing h1
    text-align: center
    font-size: 35px
    font-family: quicksand
    color: white

#landing h1 span
    color: $secondary

#landing h2
    font-size: 30px
    color: white
    text-align: center
    font-family: quicksand
    padding: 2% 0%
    
#landing h3
    font-size: 15px
    font-family: quicksand
    text-align: center
    color: rgb(200,200,200)
    padding: 5% 0% 0% 0%

tspan.unit 
    font-size: .5em

.angled-container h1.title 
    text-align: center
    font-family: quicksand
    font-weight: bold

.angled-container h1.title-inverted 
    text-align: center 
    font-family: quicksand
    font-weight: bold 
    color: white

